	    <div class="col-md-offset-2 col-md-5">
	    	<%=  line.description.html_safe %>
	    </div>
	    <div class="col-md-1">
	    	<%= line.quantity unless line.quantity == 1  %>
	    </div>
	    <div class="col-md-1">
	    	<%= number_to_currency line.unit_price unless line.quantity == 1 %>
	    </div>
	    <div class="col-md-1">
	    	<%= number_to_currency line.total unless line.total == 0 %>
	    </div>
