<div class="page-header">
  <%= link_to email_templates_path, :class => 'btn btn-primary' do %>
    <i class="glyphicon glyphicon-list-alt"></i>
    Back
  <% end %>
  <h1>New Email Template</h1>
</div>

<%= render 'form' %>
